<html lang="en">
<body>
<div>
    <!--ng-If="setlangaugetype == 'LTR'"-->
    <div class="col-md-12" style="border: 1px solid #BDBDBD">
        <br>
        <!--ng-if="items === null"-->
        <center class="SourceSansProFontregularClass font22">Announcement</center>
        <br>
        <div class="btn-group pull-right padding app-add-button">
            <button type="button" ng-click="addItem()" class="btn btn-primary"><i class="{{buttonIcon}}"></i> {{addItemLabel}}</button>
        </div>

        <form id="form" role="form" name="form" ng-show="inputItem">

            <div class="row SourceSansProFontregularClass font17">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2">News Heading:</span>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border-radius" placeholder="Enter heading" ng-model="newItem.heading" name="heading" required="">
                        <div ng-show="form.heading.$touched">
                            <div ng-show="form.heading.$error.required" style="color:red;font-sizes:13px;">Please Enter heading</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <br>
            <div class="row SourceSansProFontregularClass font17">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2">News Date:</span>
                    <div class="col-sm-8">
<!--
                        <input type="text" class="form-control border-radius" placeholder="Enter date" ng-model="newItem.date" name="date" required="">
-->

                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" ng-required="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <div ng-show="form.date.$touched">
                            <div ng-show="form.date.$error.required" style="color:red;font-sizes:13px;">Please Enter date</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <br>
            <div class="row SourceSansProFontregularClass font17">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2">News Description :</span>
                    <div class="col-sm-8 SourceSansProFontregularClass font17">
                        <!--<text-angular name="News Description" ng-model="newItem.description" required=""></text-angular>-->


                        <textarea  name="News Description" ng-model="newItem.description"placeholder="Enter Description" required="" class="form-control input-sm"></textarea>
                        <div ng-show="form.description.$touched">
                            <div ng-show="form.description.$error.required" style="color:red;font-sizes:13px;">Please Enter  Description</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="button" ng-disabled="disableSaveButton()" class="btn btn-success pull-right SourceSansProFontregularClass font17" ng-click="save(newItem,form)">Save</button>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
    <div class="col-md-12 app_information_display">
        <br>
        <center class="SourceSansProFontregularClass font22">Announcement Information</center>
        <br>
        <table class="table table-bordered">
            <thead class="thead-inverse SourceSansProFontregularClass font16">
            <th>#</th>
            <th class="text-center">News Heading</th>
            <th class="text-center">News Date</th>
            <th class="text-center">Description</th>
            <th class="col-sm-1 text-center">Action</th>
            </thead>
            <tbody class="SourceSansProFontregularClass font15">
            <tr ng-repeat="item in items" ng-include="getTemplate(item)">
            </tr>
            </tbody>
        </table>
        <script type="text/ng-template" id="display">
            <td>{{$index+1}}</td>
            <td>{{item.heading}}</td>
            <td>{{item.date | date:'MM-dd-yyyy' }}</td>
            <!--<td><div style=" word-wrap: break-word;width: 12em;" ng-bind-html="item.description"></div></td>-->
            <td>{{item.description}}</td>
            <td>
                <!--<button class="btn btn-info btn-xs" ng-click="editContact(item)"><span class="glyphicon glyphicon-edit"></span></button>-->
                <button class="btn btn-danger btn-xs" ng-click="deleteitem(item.id)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </script>
        <script type="text/ng-template" id="edit">

            <td>{{$index+1}}</td>
            <td>
                <input type="text" ng-model="newItem.heading" class="form-control input-sm" />
            </td>
            <td>
                <input type="text" ng-model="newItem.date" class="form-control input-sm" />
            </td>
            <!--<td style="word-wrap: break-word;width: 23em; min-width: 40px; max-width: 80px; " text-angular  ng-model="newItem.description"></td>-->
            <td><textarea type="textarea" ng-model="newItem.description" class="form-control input-sm"></textarea></td>
            <td>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11">
                        <button ng-disabled="disableSaveButton()" class="btn btn-success btn-xs " ng-click="edit(newItem)"><span class="glyphicon glyphicon-floppy-save"></span></button>
                        <button class="btn btn-danger btn-xs " ng-click="reset()"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </td>
        </script>
    </div>
</div>
</body>

</html>