<html lang="en">
<body>
<div>
    <!--ng-If="setlangaugetype == 'LTR'"-->
    <div class="col-md-12" style="border: 1px solid #BDBDBD">
        <br>
        <!--ng-if="items === null"-->
        <center class="SourceSansProFontregularClass font22">Chat</center>
        <br>
        <div class="btn-group pull-right padding app-add-button">
            <button type="button" ng-click="addItem()" class="btn btn-primary"><i class="{{buttonIcon}}"></i> {{addItemLabel}}</button>
        </div>

        <form id="form" role="form" name="form" ng-show="inputItem">

            <div class="row SourceSansProFontregularClass font17">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2">Msg Type:</span>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border-radius" placeholder="Enter msgtype" ng-model="newItem.msgType" name="msgType" required="">
                        <div ng-show="form.msgType.$touched">
                            <div ng-show="form.msgType.$error.required" style="color:red;font-sizes:13px;">Please Enter msgtype</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <br>
            <div class="row SourceSansProFontregularClass font17">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2">Message</span>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border-radius" placeholder="Enter message" ng-model="newItem.message" name="message" required="">
                        <div ng-show="form.message.$touched">
                            <div ng-show="form.message.$error.required" style="color:red;font-sizes:13px;">Please Enter message</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <br>
            <div class="row SourceSansProFontregularClass font17">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2">MediaThumbnail</span>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border-radius" placeholder="Enter message" ng-model="newItem.mediaThumbnail" name="mediaThumbnail" required="">
                        <div ng-show="form.mediaThumbnail.$touched">
                            <div ng-show="form.mediaThumbnail.$error.required" style="color:red;font-sizes:13px;">Please Enter mediathumline</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <br>
            <div class="row SourceSansProFontregularClass font17">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2">Media</span>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border-radius" placeholder="Enter media" ng-model="newItem.media" name="media" required="">
                        <div ng-show="form.media.$touched">
                            <div ng-show="form.media.$error.required" style="color:red;font-sizes:13px;">Please Enter media</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <br>
            <div class="row SourceSansProFontregularClass font17">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2">SenderName</span>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border-radius" placeholder="Enter senderName" ng-model="newItem.senderName" name="senderName" required="">
                        <div ng-show="form.senderName.$touched">
                            <div ng-show="form.senderName.$error.required" style="color:red;font-sizes:13px;">Please Enter senderName</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <br>
            <div class="row SourceSansProFontregularClass font17">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2">SenderId</span>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border-radius" placeholder="Enter senderId" ng-model="newItem.senderId" name="senderId" required="">
                        <div ng-show="form.senderId.$touched">
                            <div ng-show="form.senderId.$error.required" style="color:red;font-sizes:13px;">Please Enter senderId</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <br>
            <div class="row SourceSansProFontregularClass font17">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2">Time</span>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border-radius" placeholder="Enter time" ng-model="newItem.time" name="time" required="">
                        <div ng-show="form.time.$touched">
                            <div ng-show="form.time.$error.required" style="color:red;font-sizes:13px;">Please Enter time</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <br>
            <!--<div class="row SourceSansProFontregularClass font17">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2">News Description :</span>
                    <div class="col-sm-8">
                        <text-angular name="News Description" ng-model="newItem.description" required=""></text-angular>
                        <div ng-show="form.description.$touched">
                            <div ng-show="form.description.$error.required" style="color:red;font-sizes:13px;">Please Enter  Description</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>-->
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="button" ng-disabled="disableSaveButton()" class="btn btn-success pull-right SourceSansProFontregularClass font17" ng-click="save(newItem,form)">Save</button>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
    <div class="col-md-12 app_information_display">
        <br>
        <center class="SourceSansProFontregularClass font22">Chat Information</center>
        <br>
        <table class="table table-bordered">
            <thead class="thead-inverse SourceSansProFontregularClass font16">
            <th>#</th>
            <th class="text-center">Msg Type</th>
            <th class="text-center">Message</th>
            <th class="text-center">MediaThumbnail</th>
            <th class="text-center">media</th>
            <th class="text-center">SenderName</th>
            <th class="text-center">SenderId</th>
            <th class="text-center">Time</th>
            <th class="col-sm-1 text-center">Action</th>
            </thead>
            <tbody class="SourceSansProFontregularClass font15">
            <tr ng-repeat="item in items" ng-include="getTemplate(item)">
            </tr>
            </tbody>
        </table>
        <script type="text/ng-template" id="display">
            <td>{{$index+1}}</td>
            <td>{{item.msgType}}</td>
            <td>{{item.message}}</td>
            <td>{{item.mediaThumbnail}}</td>
            <td>{{item.media}}</td>
            <td>{{item.senderName}}</td>
            <td>{{item.senderId}}</td>
            <td>{{item.time}}</td>

            <td>
                <button class="btn btn-info btn-xs" ng-click="editContact(item)"><span class="glyphicon glyphicon-edit"></span></button>
                <button class="btn btn-danger btn-xs" ng-click="deleteitem(item.id)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </script>
        <script type="text/ng-template" id="edit">

            <td>{{$index+1}}</td>
            <td>
                <input type="text" ng-model="newItem.msgType" class="form-control input-sm" />
            </td>
            <td>
                <input type="text" ng-model="newItem.message" class="form-control input-sm" />
            </td>
            <td>
                <input type="text" ng-model="newItem.mediaThumbnail" class="form-control input-sm" />
            </td>
            <td>
                <input type="text" ng-model="newItem.media" class="form-control input-sm" />
            </td>
            <td>
                <input type="text" ng-model="newItem.senderName" class="form-control input-sm" />
            </td>
            <td>
                <input type="text" ng-model="newItem.senderId" class="form-control input-sm" />
            </td>
            <td>
                <input type="text" ng-model="newItem.time" class="form-control input-sm" />
            </td>


            <td>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11">
                        <button ng-disabled="disableSaveButton()" class="btn btn-success btn-xs " ng-click="edit(newItem)"><span class="glyphicon glyphicon-floppy-save"></span></button>
                        <button class="btn btn-danger btn-xs " ng-click="reset()"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </td>
        </script>
    </div>
</div>
</body>

</html>