<html lang="en">
<body>
<div ><!--ng-If="setlangaugetype == 'LTR'"-->
    <div class="col-md-12" style="border: 1px solid #BDBDBD"><br>  <!--ng-if="items === null"-->
        <center class="SourceSansProFontregularClass font22">Form Details</center><br>
        <div class="btn-group pull-right padding app-add-button">
            <button type="button" ng-click="addItem()" class="btn btn-primary"><i class="{{buttonIcon}}"></i> {{addItemLabel}}</button>
        </div>

        <form id="form" role="form" name="form" ng-show="inputItem ">
            <div class="row">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2 SourceSansProFontregularClass font17">Select form title name :</span>
                    <div class="col-sm-8">
                        <select class="form-control"  ng-model="newItem.formTitle" name="formTitle" required="">
                            <option value="">---Please Select---</option>
                            <option ng-value="formTitle.id"  ng-repeat="formTitle in formTitles">{{formTitle.name}}</option>
                        </select>
                        <div ng-show="form.formTitle.$touched">
                            <div ng-show="form.formTitle.$error.required" style="color:red;font-sizes:13px;">Please Select form title name</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2 SourceSansProFontregularClass font17">Upload form :</span>
                    <div class="col-sm-8">
                        <div class="form-group" ng-show="newItem.thumbnail && newItem.thumbnail.length > 0">
                            <div class="col-sm-12" style="border: 1px solid blue; padding-top: 11px;">
                                <div  class="col-sm-1 thumbnail padding">
                                    <img  width="100px" ng-src="/media/{{newItem.thumbnail}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12"  ng-show="newItem.thumbnail && newItem.thumbnail.length > 0" style="padding-top:15px;">
                            <uib-progressbar value="dynamic"><span style="color:white; white-space:nowrap;">{{dynamic}}%</span></uib-progressbar>
                        </div>
                        <input class="col-sm-12 app-upload-image" id="myUploader" type="file" name="picture"  nv-file-select="" uploader="uploader" resize-max-height="200" resize-max-width="200">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="button" ng-disabled="disableSaveButton()" class="btn btn-success pull-right SourceSansProFontregularClass font17" ng-click="save(newItem,form)">Save</button>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>

    <div class="col-md-12 app_information_display"><!--ng-if="items != null""-->
        <br>
        <center class="SourceSansProFontregularClass font22">Form Details  Information</center>
        <br>
        <table class="table table-bordered">
            <thead class="thead-inverse SourceSansProFontregularClass font16">
            <th>#</th>
            <!--<th class="text-center">Form Title Name</th>-->
            <th class="text-center">Uploaded Form</th>
            <th class="col-sm-1 text-center">Action</th>
            </thead>
            <tbody class="SourceSansProFontregularClass font15">
            <tr ng-repeat="item in items" ng-include="getTemplate(item)">
            </tr>
            </tbody>
        </table>
        <script type="text/ng-template" id="display">
            <td>{{$index+1}}</td>
            <!--<td>{{item.formTitle.name}}</td>-->
            <td><img class="thumbnail padding app_display_media" width="100px" ng-src="/assets/images/file-pdf.png">
              {{item.thumbnail}}
            </td>
            <td>
                <button class="btn btn-info btn-xs"  ng-click="editContact(item)"><span class="glyphicon glyphicon-edit"></span></button>
                <button class="btn btn-danger btn-xs" ng-click="deleteitem(item.id)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </script>
        <script type="text/ng-template" id="edit">
            <td>{{$index+1}}</td>
            <!--<td>
                <div class="form-group">
                    <select class="form-control" ng-model="newItem.formTitle">
                        <option>-&#45;&#45;Select Category-&#45;&#45;</option>
                        <option ng-value="formTitle.id" ng-selected="formTitle.id==newItem.formTitle" ng-repeat="formTitle in formTitles">{{formTitle.name}}</option>
                    </select>
                </div>
            </td>-->
            <td>
                <div class="form-group">
                    <div class=" row form-group"  ng-show="newItem.thumbnail && newItem.thumbnail.length > 0">
                        <div class="col-sm-12">
                            <div  class=" thumbnail padding"  class="col-xs-12 col-sm-10" >
                                <img  width="100px" ng-src="/media/{{newItem.thumbnail}}">
                            </div>
                        </div>
                    </div>
                    <input id="myUploader" type="file" name="picture" class="form-control" nv-file-select="" uploader="uploader" resize-max-height="200" resize-max-width="200">
                </div>
            </td>
            <td>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11">
                        <button ng-disabled="disableSaveButton()" class="btn btn-success btn-xs " ng-click="edit(newItem)"><span class="glyphicon glyphicon-floppy-save"></span></button>
                        <button class="btn btn-danger btn-xs " ng-click="reset()"><span class="glyphicon glyphicon-remove"></span></button>
                    </div></div></td>
        </script>
    </div>
</div>
</body>
</html>