<html lang="en">
<body>
<div>
    <!--ng-If="setlangaugetype == 'LTR'"-->
    <div class="col-md-12" style="border: 1px solid #BDBDBD">
        <br>
        <!--ng-if="items === null"-->
        <center class="SourceSansProFontregularClass font22">Gotra</center>
        <br>
        <div class="btn-group pull-right padding app-add-button">
            <button type="button" ng-click="addItem()" class="btn btn-primary"><i class="{{buttonIcon}}"></i> {{addItemLabel}}</button>
        </div>

        <form id="form" role="form" name="form" ng-show="inputItem">

            <div class="row SourceSansProFontregularClass font17">
                <div class="form-group col-sm-12">
                    <div class="col-sm-1"></div>
                    <span class="control-label col-sm-2">Gotra Name:</span>
                    <div class="col-sm-8">
                        <input type="text" class="form-control border-radius" placeholder="Enter gotra name" ng-model="newItem.name" name="name" required="">
                        <div ng-show="form.heading.$touched">
                            <div ng-show="form.heading.$error.required" style="color:red;font-sizes:13px;">Please Enter name</div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="button" ng-disabled="disableSaveButton()" class="btn btn-success pull-right SourceSansProFontregularClass font17" ng-click="save(newItem,form)">Save</button>
                    </div>
                </div>
            </div>
            <br>
        </form>
    </div>
    <div class="col-md-12 app_information_display">
        <br>
        <center class="SourceSansProFontregularClass font22">Gotra Information</center>
        <br>
        <table class="table table-bordered">
            <thead class="thead-inverse SourceSansProFontregularClass font16">
            <th>#</th>
            <th class="text-center">Gotra Name</th>
            <th class="col-sm-1 text-center">Action</th>
            </thead>
            <tbody class="SourceSansProFontregularClass font15">
            <tr ng-repeat="item in items" ng-include="getTemplate(item)">
            </tr>
            </tbody>
        </table>
        <script type="text/ng-template" id="display">
            <td>{{$index+1}}</td>
            <td>{{item.name}}</td>
            <td>
                <button class="btn btn-info btn-xs" ng-click="editContact(item)"><span class="glyphicon glyphicon-edit"></span></button>
                <button class="btn btn-danger btn-xs" ng-click="deleteitem(item.id)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </script>
        <script type="text/ng-template" id="edit">

            <td>{{$index+1}}</td>
            <td>
                <input type="text" ng-model="newItem.name" class="form-control input-sm" />
            </td>
            <td>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11">
                        <button ng-disabled="disableSaveButton()" class="btn btn-success btn-xs " ng-click="edit(newItem)"><span class="glyphicon glyphicon-floppy-save"></span></button>
                        <button class="btn btn-danger btn-xs " ng-click="reset()"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </td>
        </script>
    </div>
</div>
</body>

</html>